body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	font-size: 10pt;
	background-color: #fdfdfd;
}

body > header {
	padding: 1px;
	color: white;
	text-align: center;
	background-color: #841;
	background: linear-gradient(#952, #841);
	border-bottom: 1px solid #420;
	box-shadow: 0 10px 40px #aaa;
}

a {
	color: black;
}

h1, h2 {
	font-weight: lighter;
}

h1 a, h2 a { text-decoration: none; }
h1 a:hover, h2 a:hover { text-decoration: underline; }

table { width: 100%; }
col.caption { width: 150pt; }
input { width: 100%; }
input.checkbox { width: auto; }
textarea { width: 100%; resize: vertical; }

h1 {
	font-size: 24pt;
}

#vibelogContent {
	margin: 0;
	padding: 0;
	max-width: 600pt;
	margin: 0 auto;
	/*box-shadow: 0 0 100px #888;*/
}

#vibelogContent .blogMultiPost, #vibelogContent .blogSinglePost {
	border: 1px solid #888;
	border-top: 5pt solid #222;
	background-color: white;
	margin-top: 30pt;
	padding: 0;
	box-shadow: 0 10px 40px #aaa;
}

#vibelogContent .blogMultiPost h2 {
	font-size: 18pt;
}

#vibelogContent .blogPostDate {
	display: block;
	width: 100pt;
	margin-left: -10pt;
	margin-top: -74pt;
	margin-bottom: 50pt;
	padding: 5pt;
	color: white;
	background-color: #841;
	background: linear-gradient(#952, #841);
	text-align: center;
}

#vibelogContent .blogPost header {
	padding: 10pt 20pt 20pt 20pt;
	background-color: #fff4ee;
	background: linear-gradient(#fffaf8, #f4f0ee);
	border-bottom: 1px solid #e0e0e0;
}

#vibelogContent .blogPostContent {
	padding: 10pt 20pt;
}

#vibelogContent .blogPost footer {
	padding: 5pt 20pt;
	text-align: center;
	color: #bbb;
	background-color: #222;
	border-top: 1px solid #000;
}

#vibelogContent .blogPost footer p {
	margin: 0;
}

#vibelogContent .blogPost footer a {
	color: #ddd;
}

#vibelogContent .blogSinglePost .blogPostDate {
	margin-top: -23pt;
	margin-bottom: 20pt;
}

#vibelogRecentList {
	float: right;
	margin-right: 10pt;
	padding: 10pt;
	padding-bottom: 0;
	background-color: rgba(255, 255, 255, 0.75);
	border: 1px solid rgba(200, 200, 200, 0.75);
	border-top: none;
}

#vibelogRecentList ul {
	margin: 0;
	padding: 0;
}

#vibelogRecentList ul > li {
	font-weight: bold;
	list-style: none;
	margin-bottom: 10pt;
}

#vibelogRecentList ul ul > li {
	font-weight: normal;
	margin-bottom: 0;
}

#vibelogContent section.comments {
	padding: 10pt 20pt;
}

#vibelogContent .comment {
	margin-bottom: 10pt;
	background-color: #eee;
}

#vibelogContent .comment .commentHeader {
	background-color: #888;
	color: white;
	padding: 2.5pt 5pt;
	border: 1px solid #777;
}

#vibelogContent .comment .commentHeader a {
	color: white;
}

#vibelogContent .comment .commentContent {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 5pt 5pt;
}