ul { 
     margin: 0;    
     padding: 0;    
     border: 0;    
     outline: 0;    
     list-style:none; text-decoration:none;
}

#menuContainer {
    margin: 30pt 0 0 0;
    background-color:#413b3b;
    text-align: center;
}

.headerMenu {
    height:30px;
    position:relative;
    display:table;
    margin:0 auto;
}

.headerMenu a {
    width:auto;
    height:30px;
    float:left;
    font-size:12px;
    color:white;
    padding-left:18px;
    padding-right:18px;
    line-height:30px;
	text-decoration: none;
}
    
.headerMenu a:hover {
    background-color: #f57e20;
}

.headerMenu  li {
    width:auto;
    height:30px;
    float:left;
    position:relative;
    border-right:solid 1px #fdfdfd;
    display: table-cell;
}

.headerMenu li:last-child {
    border-right: none;
}
